.background-container {
    background-image: url('../src/assets/Background.jpeg');
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    /* Other background properties can be added here */
  }
  
.bigger-jumbotron {
    padding: 9rem;
}

.jumbotron {
  padding: 8rem;
}

.gradient-background {
  background: linear-gradient(to bottom, #0c0c04, #4793AF);
}

.extra-padding {
  padding-left: 100px;
  padding-right: 100px;
}