@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Rancho&display=swap');

$light: #fafafa;
$dark:       #0c0c04;
$primary:  #4793AF;
$secondary:    #FFC470;
$info:       #DD5746;
$success:    #04c066;
$warning:    #efd103;
$danger:     #ff1521;

body {
  font-family: "Montserrat", sans-serif;
}

@import "node_modules/bootstrap/scss/bootstrap";